@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --family-primary: 'Poppins', sans-serif;
    --family-inter: 'Inter', sans-serif;
    --family--mont: 'Montserrat', sans-serif;

    --color-red: #DA2626;
    --color-yellow: #FFEB10;
    --color-dark-orange: #DA9526;
    --color-light-blue: #10EFFF;
    --color-blue: #2CA7F3;
    --color-dark-blue: #1078FF;
    --color-light-green: #10FF9F;
    --color-dark-green: #0B894D;
    --color-orange: #F3A72C;
    --color-fanta: #F3682C;
    --color-green: #BFFF10;
    --color-purple: #A719FA;
    --color-white: rgb(255, 255, 255);
    --color-black: rgba(0, 0, 0, 0.87);

    --color-dark-gray: #515151;
    --color-light-gray: #9C9C9C;
    --color-border-gray: #DBDBDB;

    --base-font-size: 16px;
    --base-line-height: 1.3;
    --base-spacing: 1rem;
    --base-radius: 4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    background: var(--color-white);
    color: var(--color-black);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    height: 100vh;
    letter-spacing: 0.05rem;
}

.skew-custom {
    transform: skew(-4deg, 0deg);
}

.boxShadow-custom {
    box-shadow: 3px 3px 0px rgba(0, 0, 0)
}

/* Hide number input arrows (Chrome, Safari, Edge) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-clipPath-rightSide {
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.custom-clipPath-leftSide {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

@media only screen and (max-width: 1100px) {
    .custom-clipPath-rightSide {
        clip-path: none
    }

    .custom-clipPath-leftSide {
        clip-path: none
    }
}